<br>
<br>
<br>
<br>
<br>
<div class="container-fluid">
  <div class="row">
    <div class="col-md-7 col-lg-7 col-sm-12 col-xs-12" style="background:#fff;">
  <form class="example-form">
    <div  class="col-md-12 col-lg-12 col-sm-12 col-xs-12">
  <table class="example-full-width" cellspacing="0" class="col-md-6 col-lg-6 col-sm-12 col-xs-6"><tr>
    <td><mat-form-field class="example-full-width" >
      <input matInput placeholder="Type" value="Debit Invoice" style="color:  #3C4858;" disabled>
    </mat-form-field></td>
    <td><mat-form-field class="example-full-width">
      <input matInput placeholder="Serial No" value="15345" style="color:  #3C4858;" disabled>
    </mat-form-field></td>
    <td><mat-form-field class="example-full-width">
      <input matInput #postalCode maxlength="5" placeholder="Status" value="Registrerad" style="color:  #3C4858;" disabled>
  </mat-form-field></td>

  </tr>
  <tr>
    <td><mat-form-field class="example-full-width">
      <input matInput placeholder="Supplier" value="18" style="color:  #3C4858;" disabled>
    </mat-form-field></td>
    <td><mat-form-field class="example-full-width">
      <input matInput placeholder="Supplier Name" value="Swinx AB" style="color:  #3C4858;" disabled>
    </mat-form-field></td>
    <td><mat-form-field class="example-full-width">
      <input matInput #postalCode maxlength="5" placeholder="invoice Amount(SEK)" value="5,000.00" style="color:  #3C4858;" disabled>
    </mat-form-field></td>

  </tr>
  <tr>
    <td>
    <mat-form-field>
      <input matInput [matDatepicker]="picker" placeholder="Invoice due date " [value]="date.value" style="color:  #3C4858;" disabled>
      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>
    </mat-form-field>
  </td>
    <td><mat-form-field class="example-full-width">
      <input matInput placeholder="Approver" value="CS;PER;ANRO;" style="color:  #3C4858;" disabled>
    </mat-form-field></td>
    <td><mat-form-field class="example-full-width">
      <input matInput #postalCode maxlength="5" placeholder="Certifier" value="SA;RAJ;" style="color:  #3C4858;" disabled>
      <!-- <mat-hint align="end">{{postalCode.value.length}} / 5</mat-hint> -->
    </mat-form-field></td>

  </tr>
</table>
<button mat-raised-button color="primary" routerLinkActive="active" [routerLink]="['/invoicedetail']" >View Details</button>
<button mat-raised-button color="primary" style="margin-left:20px;">Approve</button>
</div>
</form>
<div class="table" style="font-size: 14px !important;">
  <div class="tr th" style="color:#fff; background-color:#2e348a;">
    <div class="td">
      Acc
    </div>
    <div class="td"   style="flex-grow: 2;">
    Info
    </div>
    <div class="td">
        Amt
    </div>
    <div class="td">
      project
    </div>
    <div class="td">
    cost
    </div>
    <div class="td">
      Debit
    </div>
    <div class="td">
      Credit
    </div>
  </div>

  <div class="tr">
    <div class="td" style="justify-content: flex-end;">
      <span>1002</span>
    </div>
    <div class="td"
      style="flex-grow: 2; justify-content:  flex-start;">
      <span>  SwinxAccounts</span>
    </div>
    <div class="td"
      style="justify-content: center;">
      <span>  10000.00</span>
    </div>
    <div class="td"
      style="justify-content: flex-start;">
      <span>  OFS</span>
    </div>
    <div class="td"
      style="justify-content: flex-start;">
      <span>  VK</span>
    </div>
    <div class="td"
      style="justify-content: flex-end;">
      <span>  100.00</span>
    </div>
    <div class="td"
      style="justify-content: flex-end;">
      <span>  0.00</span>
    </div>
  </div>
  <div class="tr">
    <div class="td"
      style="justify-content: flex-end;">
      <span>1023</span>
    </div>
    <div class="td"
      style=" flex-grow: 2; justify-content: flex-start;">
      <span>  GoogleAccounts</span>
    </div>
    <div class="td"
      style="justify-content: center;">
      <span>  1500.00</span>
    </div>
    <div class="td"
      style="justify-content:  flex-start;">
      <span>  SWINX</span>
    </div>
    <div class="td"
      style="justify-content:  flex-start;">
      <span>  OFS</span>
    </div>
    <div class="td"
      style="justify-content: flex-end;">
      <span>  2000.00</span>
    </div>
    <div class="td"
      style="justify-content: flex-end;">
      <span>  500.00</span>
    </div>
  </div>

  <div class="tr">
    <div class="td"
      style="justify-content: flex-end;">
      <span>1300</span>
    </div>
    <div class="td"
      style=" flex-grow: 2; justify-content:  flex-start;">
      <span>Microsoft Billing</span>
    </div>
    <div class="td"
      style="justify-content: center;">
      <span>  1500.00</span>
    </div>
    <div class="td"
      style="justify-content:  flex-start;">
      <span>  IOS</span>
    </div>
    <div class="td"
      style="justify-content:  flex-start;" >
      <span>  OFS</span>
    </div>
    <div class="td"
      style="justify-content: flex-end;">
      <span>  1500.00</span>
    </div>
    <div class="td"
      style="justify-content: flex-end;">
      <span>  0.00</span>
    </div>
  </div>
</div>
    </div>

    <div class="col-md-4 col-lg-4 col-sm-12 col-xs-12" style="background:#fff; " >
        <img src="/assets/img/invoice.jpg" width="350px" style=" margin: 50px 50px 10px 50px;; border: 1px solid;"/>
            <mat-button-toggle-group #group="matButtonToggleGroup"  class="example-selected-value">
            <mat-button-toggle value="left">
              <mat-icon>navigate_before</mat-icon>
            </mat-button-toggle>
            <mat-button-toggle value="center">
              <mat-icon>zoom_in</mat-icon>
            </mat-button-toggle>
            <mat-button-toggle value="right">
              <mat-icon>zoom_out</mat-icon>
            </mat-button-toggle>
            <mat-button-toggle value="justify">
              <mat-icon>navigate_next</mat-icon>
            </mat-button-toggle>
          </mat-button-toggle-group>
    </div>
  </div>
</div>
