<br>
<br>
<br>
<br>
<br>


<div class="container" style="background:#fff;">
  <div class="table-responsive">
    <p style="margin-top:20px;font-weight:700;"> Project - List </p>

      <form class="navbar-form">
          <div class="input-group no-border justify-content-end">
            <input type="text"  class="form-control" placeholder="Enter To search Project" style="max-width:200px; width:200px; margin-top:-5px;">
            <button mat-raised-button type="submit" class="btn btn-blue btn-round btn-just-icon" style="margin-top:-5px;">
                  <i class="material-icons">search</i>
                  <div class="ripple-container"></div>
              </button>
          </div>
      </form>

      <table class="table">
          <thead class=" text-primary" style="color: #fff !important; background-color: #2e348a;">
              <th>
                  No
              </th>
              <th>
                  Name
              </th>

              <th>
                  Approver
              </th>
              <th>
                  Certifier
              </th>
          </thead>
          <tbody>
              <tr>
                  <td>
                      12
                  </td>
                  <td>
                    SWINX
                  </td>

                  <td class="text-primary">
                      PER;
                  </td>
                  <td class="text-primary">  
                      RAJ;
                  </td>
              </tr>

              <tr>
                  <td>
                      16
                  </td>
                  <td>
                      VISMA GROUPS
                  </td>

                  <td class="text-primary">
                      PER;RAJ:
                  </td>
                  <td class="text-primary">
                      RAJ;HAL;ALV;
                  </td>
              </tr>

              <tr>
                  <td>
                      5
                  </td>
                  <td>
                      OFS TECHNOLOGIES
                  </td>

                  <td class="text-primary">
                      RAI:
                  </td>
                  <td class="text-primary">
                      MSD;
                  </td>
              </tr>

              <tr>
                  <td>
                      19
                  </td>

                      <td>
                          FORTNOX
                      </td>

                  <td class="text-primary">
                      MSD;
                  </td>
                  <td class="text-primary">
                      ABD;VK;
                  </td>
              </tr>
          </tbody>
      </table>
  </div>
</div>
