<br>
<br>
<br>
<br>

<div class="container" style="background:#fff;">
  <div class="row">
    <div class="col-md-12 col-sm-12 col-xs-12">
      <mat-tab-group style="margin-top: 30px;">
        <mat-tab label="Valid">
          <div class="table-responsive">
              <table class="table">
                  <thead class=" text-primary" style="color: #fff !important; background-color: #2e348a;">
                      <th>
                          Serial No
                      </th>
                      <th>
                          Supplier Name
                      </th>
                      <th>
                          Invoice Due Date
                      </th>
                      <th>
                          Invoice Date
                      </th>
                      <th>
                          Invoice No
                      </th>
                      <th>
                          Approver
                      </th>
                      <th>
                          Supplier
                      </th>
                  </thead>
                  <tbody>
                      <tr>
                          <td>
                              15403
                          </td>
                          <td>
                              SWINX AB
                          </td>
                          <td>
                              2017/10/12
                          </td>
                          <td>
                              810354
                          </td>
                          <td>
                              -54000
                          </td>
                          <td >
                              CS;RAJ;
                          </td>
                          <td >
                              SA;
                          </td>
                      </tr>

                          <tr>
                              <td>
                                  15216
                              </td>
                              <td>
                                  KINDLE AB
                              </td>
                              <td>
                                  2016/04/25
                              </td>
                              <td>
                                  56434
                              </td>
                              <td>
                                  -10
                              </td>
                              <td >
                                  RR;
                              </td>
                              <td >
                                  HR;DR;
                              </td>
                          </tr>
                  </tbody>
              </table>
          </div>



        </mat-tab>

        <mat-tab label="Invalid">
          <div class="table-responsive">
              <table class="table">
                  <thead class=" text-primary" style="color: #fff !important; background-color: #2e348a;">
                    <th>
                    <mat-checkbox class="example-margin"  color="primary" [(ngModel)]="checked"></mat-checkbox>
                    </th>
                      <th>
                          Key
                      </th>
                      <th>
                          Number
                      </th>
                      <th>
                          Name
                      </th>
                  </thead>
                  <tbody>
                      <tr>
                          <td>
                              <mat-checkbox class="example-margin"  color="primary" [(ngModel)]="checked"></mat-checkbox>
                          </td>
                          <td>
                                0000FA.PDF
                          </td>
                          <td>
                                00000004FA.XML
                          </td>
                          <td>
                              	Finns inge översättning för 000004FA.XML (canon.xtr)!
                          </td>
                      </tr>
                  </tbody>
              </table>
          </div>




        </mat-tab>
      </mat-tab-group>

    </div>
  </div>
</div>
