<br>
<br>
<br>
<br>
<br>


<div class="container" style="background:#fff;">
  <div class="table-responsive">
      <table class="table">
          <thead class=" text-primary" style="border-bottom:1px solid #000;">
              <th>
                  No
              </th>
              <th>
                  Name
              </th>
              <th>
                  Cost Account
              </th>
              <th>
                  Bank Number
              </th>
              <th>
                  Approver
              </th>
              <th>
                  Certifier
              </th>
          </thead>
          <tbody>
              <tr>
                  <td>
                      12
                  </td>
                  <td>
                      SWINX AB
                  </td>
                  <td>
                      1001
                  </td>
                  <td>
                      193-12132
                  </td>
                  <td class="text-primary">
                      PER;
                  </td>
                  <td class="text-primary">
                      RAJ;
                  </td>
              </tr>

              <tr>
                  <td>
                      16
                  </td>
                  <td>
                      OCEANA GROUPS
                  </td>
                  <td>
                      1035
                  </td>
                  <td>
                      19233-132
                  </td>
                  <td class="text-primary">
                      PER;RAJ:
                  </td>
                  <td class="text-primary">
                      RAJ;HAL;ALV;
                  </td>
              </tr>
          </tbody>
      </table>
  </div>
</div>
