<div class="logo">
    <a href="https://www.swinx.se/swinx-scanlev/" class="simple-text">
        <div class="logo-img">
            <img src="/assets/img/Swinx_Logo.png"/>
        </div>     <b style="word-spacing: 5px;">.a SWINX SCANLEV </b>

    </a>
</div>
<div class="sidebar-wrapper">
  <div *ngIf="isMobileMenu()">
    <form class="navbar-form">
      <span class="bmd-form-group">
        <div class="input-group no-border">
          <input type="text" value="" class="form-control" placeholder="Search...">
          <button mat-raised-button type="submit" class="btn btn-white btn-round btn-just-icon">
            <i class="material-icons">search</i>
            <div class="ripple-container"></div>
          </button>
        </div>
      </span>
    </form>

  </div>
    <ul class="nav">
        <li routerLinkActive="active" *ngFor="let menuItem of menuItems" class="{{menuItem.class}} nav-item" (click)="menuItem.droparrow = !menuItem.droparrow" >
            <a class="nav-link" [routerLink]="[menuItem.path]">
                <i class="material-icons">{{menuItem.icon}}</i>
                <p>{{menuItem.title}}    <span class="material-icons"  style="float:right;" *ngIf="menuItem.dropdown">{{!menuItem.droparrow ? 'arrow_drop_up' : 'arrow_drop_down'}}</span></p>
            </a>
            <ul class="nav" *ngIf="!menuItem.droparrow">
                <li routerLinkActive="active" *ngFor="let dropdown of menuItem.dropdown" class="{{dropdown.class}} nav-item">
                    <a class="nav-link" [routerLink]="[dropdown.path]" style="margin-left:40px;">
                        <i class="material-icons">{{dropdown.icon}}</i>
                        <p> {{dropdown.title}}</p>
                    </a>
                </li>
            </ul>
        </li>
    </ul>

</div>
