<br>
<br>
<br>
<br>
<br>
<div class="container" style="background-color:#fff;">

  <br>
  <button mat-mini-fab color="primary" style="margin-left:30px;"><i class="material-icons"  matTooltip="Create Invoice">add_circle</i></button>
  <button mat-mini-fab color="primary" style="margin-left:30px;"><i class="material-icons"  matTooltip="Delete Images">delete</i></button>
  <button mat-mini-fab color="primary" type="file" style="margin-left:30px;"><i class="material-icons"  matTooltip="Upload Images">open_in_browser</i></button>


  <form class="navbar-form">
      <div class="input-group no-border justify-content-end">
        Showing  &nbsp;&nbsp; <input type="text" value="6" class="form-control" placeholder="Enter No images to Display" style="max-width:100px; width:100px; margin-top:-5px;">
          <button mat-raised-button type="submit" class="btn btn-blue btn-round btn-just-icon" style="margin-top:-5px;">
              <i class="material-icons">search</i>
              <div class="ripple-container"></div>
          </button> &nbsp; &nbsp;Images
      </div>
  </form>

    <br>
  <br>
      <div class="row" style="margin:20px;">
        <div class="col-md-2">
          <div style="border: 1px solid #000; padding:10px;">
                  <img src="/assets/img/invoice.jpg"  height="170px" width="130px" />
                  <br>
                  <mat-checkbox class="example-margin" color="primary" ></mat-checkbox>
                  <div style="align-content:center; display:inline-flex; padding-left:20px;" >1 of 1</div>
        </div>
        </div>
        <div class="col-md-2">
          <div style="border: 1px solid #000; padding:10px;">
                  <img src="/assets/img/invoice.jpg"  height="170px" width="130px" />
                  <br>
                  <mat-checkbox class="example-margin" color="primary" ></mat-checkbox>
                  <div style="align-content:center; display:inline-flex; padding-left:20px;" >1 of 1</div>
        </div>
        </div>
        <div class="col-md-2">
          <div style="border: 1px solid #000; padding:10px;">
                  <img src="/assets/img/invoice.jpg"  height="170px" width="130px" />
                  <br>
                  <mat-checkbox class="example-margin" color="primary" ></mat-checkbox>
                  <div style="align-content:center; display:inline-flex; padding-left:20px;" >1 of 1</div>
        </div>
        </div>
        <div class="col-md-2">
          <div style="border: 1px solid #000; padding:10px;">
                  <img src="/assets/img/invoice.jpg"  height="170px" width="130px" />
                  <br>
                  <mat-checkbox class="example-margin" color="primary" ></mat-checkbox>
                  <div style="align-content:center; display:inline-flex; padding-left:20px;" >1 of 1</div>
        </div>
        </div>
        <div class="col-md-2">
          <div style="border: 1px solid #000; padding:10px;">
                  <img src="/assets/img/invoice.jpg"  height="170px" width="130px" />
                  <br>
                  <mat-checkbox class="example-margin" color="primary" ></mat-checkbox>
                  <div style="align-content:center; display:inline-flex; padding-left:20px;" >1 of 1</div>
        </div>
        </div>
        <div class="col-md-2">
          <div style="border: 1px solid #000; padding:10px;">
                  <img src="/assets/img/invoice.jpg"  height="170px" width="130px" />
                  <br>
                  <mat-checkbox class="example-margin" color="primary" ></mat-checkbox>
                  <div style="align-content:center; display:inline-flex; padding-left:20px;" >1 of 1</div>
        </div>
        </div>
      </div>
</div>
